# Bytecode & Python-Cache
__pycache__/
*.py[cod]
*.pyo

# Virtuelle Umgebungen
.venv/
env/
pyenv.cfg

# Editor- & IDE-Dateien
.vscode/
.idea/

# Git
.git/

# Logs, Backups & Archive
*.log
logs/
backups/
archive/

# Lokale & sensible Daten
.env
.env.*
*.sqlite
tournament.json